{# Backstage scaffolder to render the file as is and to skip this content to interpret as template   #}
{% extends '_layout.njk' %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ serviceName }}</h1>

      <form action="/query" method="post">
        <h2 class="govuk-heading-s">Query</h2>
        <div class="govuk-form-group">
          <input class="govuk-input" id="event-name" name="query" type="text"value="{{ query }}">
        </div>
        <input type="hidden" name="prompt" value="GENERATE_PROMPT_1">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios--small" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sql" name="querytype" type="radio" value="sql"{% if queryType == 'sql' %} checked="true"{% endif %}>
                <label class="govuk-label govuk-radios__label" for="sql">
                  Query science search database (SQL)
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="llm" name="querytype" type="radio" value="llm"{% if queryType == 'llm' %} checked="true"{% endif %}>
                <label class="govuk-label govuk-radios__label" for="llm">
                  LLM lookup ({% if llm == 'ollama' %}{{ localLLM }}{% else %}{{ llm }}{% endif %})
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="compare-sql-llm" name="querytype" type="radio" value="compare-sql-llm"{% if queryType == 'compare-sql-llm' %} checked="true"{% endif %}>
                <label class="govuk-label govuk-radios__label" for="compare-sql-llm">
                  Compare science search database &amp; LLM
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-compare-sql-llm">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="compare-sql-llm-reference">
                    Reference answer
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="compare-sql-llm-reference" name="referencesql" type="text" value="{{ referenceSQL }}">
                </div>
              </div>

              {% if llm != 'OpenAI ChatGPT 3.5 Turbo' %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="compare-oai-llm" name="querytype" type="radio" value="compare-oai-llm" data-aria-controls="conditional-compare-oai-llm"{% if queryType == 'compare-oai-llm' %} checked="true"{% endif %}>
                <label class="govuk-label govuk-radios__label" for="compare-oai-llm">
                  Compare OpenAI ChatGPT 3.5 Turbo &amp; {{ llm }}
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-compare-oai-llm">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="compare-oai-llm-reference">
                    Reference answer
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="compare-oai-llm-reference" name="referenceoai" type="text" value="{{ referenceOai }}">
                </div>
              </div>
              {% endif %}
            </div>
          </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Go
        </button>
      </form>
      <hr>
      <h2 class="govuk-heading-m">{{ query }}</h2>
      {% if response2 != '' %}
      <h3 class="govuk-heading-s">OpenAI ChatGPT 3.5 Turbo</h3>
      <p class="govuk-body">{{ response1 }}</p>

      <h3 class="govuk-heading-s">{{ localLLM }}</h3>
      <p class="govuk-body">{{ response2 }}</p>

      {% else %}
      <h3 class="govuk-heading-s">{{ response1 }}</h3>

      <ol class="govuk-body">
        {% for item in context %}
        <li>
          {% if item.source %}
            <strong>{{ item.source }}</strong><br>
          {% endif %}
          {% if item.href %}
            <strong><a href="{{ item.href }}" class="govuk-link">{{ item.href }}</a></strong>
            lines {{ item.lines.from }} to {{ item.lines.to }}<br>
          {% endif %}
          {% if item.pageContent %}
            {{ item.pageContent }}{% if item.pageNumber %}, page {{ item.pageNumber }}{% endif %}
          {% endif %}
        </li>
        {% endfor %}
      </ol>
      {% endif %}
    </div>
  </div>
{% endblock %}